INVERTER_HOST=192.168.1.194
INVERTER_PORT=8899
SLAVE_ID=1
MQTT_HOST=becoming-hub
MQTT_PORT=1883
MQTT_BASE_TOPIC=vessels/self
POLL_INTERVAL_MS=3000
WEB_PORT=3000
BATTERY_CAPACITY_AH=200
MIN_BATTERY_SOC=20
